<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305943107757-q2rdlptnp7ee7rrvaj7vfqj0g3efn7f8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305943107757-q2rdlptnp7ee7rrvaj7vfqj0g3efn7f8</string>
	<key>API_KEY</key>
	<string>AIzaSyDccZBR9XLrvao-BgG1Mojk27o9zShXrtI</string>
	<key>GCM_SENDER_ID</key>
	<string>305943107757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.logmap</string>
	<key>PROJECT_ID</key>
	<string>logmap-426cc</string>
	<key>STORAGE_BUCKET</key>
	<string>logmap-426cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305943107757:ios:18ba3e8a3d55a4e12c8e24</string>
</dict>
</plist>